/* satoshi font */

@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("./about.css");
@import url("./contact.css");
@import url("./property.css");
@import url("../agent.css");
@import url("./blog.css");
@import url("./faq.css");
@import url("../responsive/responsive.css");
body {
  font-family: "Satoshi", sans-serif;
}
.font-weight-500 {
  font-weight: 500;
}
/* root color and font sizes */
:root {
  /* color */
  --light-white: #fcfcfc;
  --black: #18181b;
  /* --25: #18181b; */
  --white: #fff;
  --grey: #70707b;

  /* fonts 104, 64, 52, 40, 32,   24, 20, 18, 14*/
  --heading-h1: 6.5rem;
  --heading-xl: 4rem;
  --heading-l: 3.25rem;
  --heading-m: 2.5rem;
  --heading-s: 2rem;
  /* text */
  --text-heading: 1.5rem;
  --text-l: 1.25rem;
  --text-m: 1.125rem;
  --text-s: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  /* width: 1280px; */
}
/* section {
  margin: 80px 0;
} */
span {
  white-space: nowrap;
}
button a {
  text-decoration: none;
  /* color: var(--white); */
}

h2,
.heading-2 {
  font-weight: 500;
  font-size: var(--heading-xl);
  line-height: 76.8px;
  color: var(--black);
}
h3,
.heading-3 {
  font-size: var(--heading-l);
  line-height: 62.4px;
  letter-spacing: -2px;
  color: var(--black);
}
h4,
.heading-4 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 57.6px;
  color: var(--black);
}
/* 40 */
h5,
.heading-5 {
  font-weight: 500;
  font-size: var(--heading-m);
  line-height: 48px;
}
h6,
.heading-6 {
  font-size: var(--heading-s);
  line-height: 38.4px;
}
#sec-gapping {
  /* margin: 80px 0 !important; */
  margin-top: 80px !important;
}
.heading-7 {
  /* font-size: var(--text-heading);
  color: var(--black);
  font-weight: 400;
  line-height: 28.8px; */

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28.8px;
}
/* 20px */
.b-xl {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 31px;
}
/* 18px */
.b-l {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27.9px;
  color: var(--grey);
}
/* 16px */
.b-m {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24.8px;
}
/* 14px */
.b-s {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21.7px;
  color: var(--grey);
}
/* 12px */
.b-xs {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 18.6px;
}
.btn {
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  line-height: 1.55rem;
  cursor: pointer;
}
/* header start here */
.header-nav-section {
  padding: 27px 0;
}
.nav-color {
  color: white;
}
header {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-header {
  width: 1280px;
  display: flex;
  align-items: center;
  /* gap: 100px; */
  justify-content: space-between;
  position: absolute;
  top: 1.66rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* .header-gap {
  margin-left: 100px;
} */
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 3rem; */
}
.home-ul {
  display: flex;
  align-items: center;
  gap: 12px;
}
ul li {
  list-style: none;
}
ul li a {
  font-size: var(--text-s);
  color: var(--light-white);
  line-height: 1.36rem;
  padding: 4px 12px;
  text-decoration: none;
}
header .btn button {
  color: var(--black);
  background-color: var(--light-white);
  transition: all linear 0.3s;
}
header .btn button:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--light-white);
}
/* header ends here */
/* header {
  display: none;
} */
/* hero start here */
#relative {
  position: relative;
}

.hero .hero-banner-img img {
  width: 100%;
  height: 120vh;
  object-fit: cover;
}

.hero .hero-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.hero-content-block {
  width: 990px;
}
.hero .hero-headline {
  display: flex;
  align-items: end;
}
.h-g-img img {
  width: 154px;
}
.hero .hero-content-block .hero-headline h1 {
  color: var(--white);
  font-size: var(--heading-h1);
  font-weight: 500;
  line-height: 7.15rem;
  position: relative;
}
/* .hero-headline h1::after {
  content: url(../assets/home-page/hero-img/Scroll\ Down.png);
  position: absolute;
  right: -10px;
} */

.hero .hero-headline .scroll {
  width: 80px;
  height: 80px;
}

/* border-radius: 50%;
  background-color: #18181b;
  position: relative;
  border: 1px solid var(--white);
} */
/* .hero .hero-headline .scroll img {
  height: 100%;
} */
/* .hero .hero-headline .scroll img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.hero-gallery-block {
  display: flex;
  flex-direction: column;
  background-color: rgba(182, 182, 182, 0.685);
  padding: 8px;
  border-radius: 12px;
  /* position: absolute;
  right: 0;
  bottom: 4rem; */
}
.hero-gallery-block .img-2 {
  padding: 12px 0;
}

/* hero ends here */

/* about section start */

/* .about {
} */
.about-title {
  display: flex;
  gap: 7.81rem;
  margin-bottom: 3.5rem;
}
.about-title .about-title-left {
  width: 34.23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.about-title-left h3 {
  line-height: 62.4px;
  letter-spacing: -2px;
}
.about-btn {
  background-color: var(--black);
  color: var(--white);
}
.about-title-right {
  width: 65.77%;
}
.about-title-right p {
  font-size: var(--text-l);
  line-height: 31px;
}
/* .about .about-services {
  height: 626px;

  display: grid;
  grid-template-columns: 25.98% 33.05% 44.95%;
  gap: 2rem;
  align-items: start;
}

.about-service-1 {
  width: 100%;
  align-self: start;
}

.about-service-1 .abt-img-1 > img {
  height: 100%;
  width: 100%;
}
.about-service-2 {
  width: 90%;
  align-self: end;
}
.about-service-2 .abt-img-2 > img {
  height: 100%;
  width: 100%;
}
.about-service-3 {
  width: 90%;
  align-self: -start;
}
.about-service-3 .abt-img-3 > img {
  width: 90%;
  height: 100%;
}
.about-service h5 {
  padding: 1.5rem 0 0.5rem 0;
}
.about-services .about-service > p {
  color: var(--grey);
  line-height: 24.8px;
} */
.about-services {
  display: flex;
  /* align-items: center; */
  gap: 28px;
  /* justify-content: space-between; */

  width: 1280px;
  height: 626px;
}
.about-service-1 {
  width: 316px;
}
.about-service-2 {
  width: 400px;
  align-self: flex-end;
}
.about-service-3 {
  width: 490px;
}
.about-service img {
  width: 100%;
}
/* media qurie */
@media (max-width: 864px) {
  header {
    width: 100%;
  }
  .about-services {
    /* align-items: center; */

    /* justify-content: space-between; */
    height: 450px;
    width: 846px;
  }
  .about-service-1 {
    width: 206px;
  }
  .about-service-2 {
    width: 263px;
  }
  .about-service-3 {
    width: 281px;
  }
}
@media (max-width: 375px) {
  .about-services {
    width: 375px;
    /* padding: 0 10px; */
    height: auto;
    flex-direction: column;
  }
}
/* about section ends */

/* property listing starts */

/* .property-listing {
} */
.property-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-bottom: 3.5rem;
}
.property-title-left {
  /* width: 31.88%; */
  width: 60%;
}
.property-title-right {
  width: 40%;
}
/* property */
/* .properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
} */
.properties {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 24px;
}
/* .property .property-img img {
  aspect-ratio: 0.88/1;
} */
.property {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.property-img {
  position: relative;
}
/* .property-img img {
  width: 100%;
  aspect-ratio: 1.21/1;
} */
/* .property-img > img {
  width: 100%;
  height: 100%;
} */
.property-img img {
  width: 100%;
}
.property-img .badge {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: absolute;
  top: 4%;
  right: 3%;
}
.badge .type-prt,
.sale-rent {
  background-color: var(--black);
  color: var(--light-white);
  padding: 0.3rem 0.4rem;
  border-radius: 20px;
}
.badge .type-prt {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.badge .type-prt img {
  height: 18px;
  width: 18px;
}
/* property-info-s */

.property .property-info {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.property .property-info .name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.property .property-info .name h6 {
  /* font-size: 1.5rem; */
  color: var(--black);
}
.property .property-info .prt-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.property .property-info .prt-location img {
  width: 20px;
  height: 20px;
}
.property .property-info .prt-location > span {
  white-space: nowrap;
  color: var(--grey);
}
.property .property-info .price {
  font-weight: 700;
  line-height: 24px;
}
.price p:last-child {
  color: var(--grey);
}
.horizontal-hr {
  border: 1.5px solid #e4e4e7;
}

/* property details s */
.property-details {
  display: flex;
  /* text-align: center; */
  /* gap: 2.31rem; */
  /* gap: 1.156rem; */
  gap: 2px;
}
.vertical-hr {
  border: 1px solid #e4e4e7;
  /* margin: 0 1.15rem; */
}
.property-details img {
  width: 20px;
}
.property-details > span {
  color: var(--grey);
  font-size: 0.875rem;
}
.view-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 56px 0 80px 0;
}
.view-more-btn .view-more {
  background-color: var(--black);
  color: var(--light-white);
}
/* faq section s */

.faq-section {
  display: flex;
  gap: 4%;
}
.faq-left {
  width: 37%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.left-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.left-top > h3 {
  font-weight: 400;
}
/* .left-top > p {
  width: 100%;
} */
.left-bottom-img img {
  width: 100%;
}
.faq-right-questions {
  width: 59%;
}
.faq-right-questions .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 2.5%;
}

.faq-right-questions .question-4 {
  color: var(--black);
}
.hover-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-design {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  gap: 1rem;
  padding: 1rem;
}
.accordion > p.b-m {
  color: var(--black);
}
/* faq section e */

/* blog section startsf */
.blog-section {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.blog-title {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.title-left h3 {
  font-weight: 400;
  white-space: nowrap;
}
.blog-title .title-right {
  width: 38%;
}
.title-right > p {
  color: var(--grey);
}
/* blogs */
/* .blogs {
  display: flex;
  align-items: center;
  gap: 1.5rem;
} */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  /* gap: 16px; */
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  justify-content: space-between;
}
/* blog */
.blog {
  /* width: 410px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blog-img > img {
  /* width: 100%;
  aspect-ratio: 0.9/1; */
  width: 400px;
  height: auto;
}
/* .blog-img {
  width: 410px;
  aspect-ratio: 0.97/1;
} */
/* .blog-img img {
  width: 100%;
  height: 100%;
} */
.date-time {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  line-height: 24.8px;
  color: var(--grey);
}

.time img {
  width: 18px;
}
.time {
  display: flex;
  align-items: center;
  gap: 4px;
}
.blog > .title {
  width: 345px;
}
.blog-icons {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 80px;
}
.blog-icons .left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog-icons .left img {
  width: 12px;
  height: 12px;
}
.blog-icons .right {
  display: flex;
  gap: 8px;
  align-items: center;
}
.blog-icons .right img {
  height: 40px;
  width: 40px;
}
/* contact section start */
#contact {
  position: relative;
}
.contact-section {
  position: relative;
  margin: 0 2%;
}
.contact-main-img {
  width: 1440px;
  height: 648px;
  margin: 0 auto;
}
.contact-img {
  /* width: 1400px; */
  height: 100%;
  width: 100%;
  /* height: 648px; */
  text-align: center;
  object-fit: cover;
  border-radius: 30px;
}
.contact-container {
  width: 1280px;
  display: flex;
  gap: 229px;
  align-items: center;
  /* justify-content: space-between; */
  position: absolute;
  top: 20%;
  left: 250px;
  padding: 0 80px;
}
.contact-section .left {
  width: 624px;

  /* position: absolute;
  top: 35%;
  left: 5%; */
  /* aspect-ratio: 4.051/1; */
}
.contact-section > .left > h2 {
  width: 600px;
  color: var(--light-white);
}
.contact-section .left .contact-left-p {
  color: var(--light-white);
}
.contact-section .right {
  width: 444px;
  height: 428px;
  /* position: absolute;
  top: 18%;
  right: 5%; */
}
.right form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right .bg-color {
  width: 396px;
  background-color: var(--light-white);
  padding: 1.5rem;
  border-radius: 24px;
}
.right .bg-color label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24.8px;
}
.right .bg-color textarea {
  height: 180px;
}
.right .bg-color .contact-btn {
  background-color: var(--black);
  color: var(--light-white);
  transition: all linear 0.3s;
}
.right .bg-color .contact-btn:hover {
  color: var(--white);
  background-color: var(--grey);
}

/* header */

nav ul li a {
  color: var(--grey);
  transition: all linear 0.4s;
}
nav ul li a:hover {
  color: var(--black);
}
.header-btn button a {
  background-color: var(--black);
  padding: 10px 18px;
  border-radius: 20px;
  color: var(--light-white);
  transition: all linear 0.3s;
}

.header-btn button a:hover {
  color: var(--white);
  background-color: var(--grey);
}
